Repository nmoroze/tclint: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, codespell

black:
  name: black
  language: python
  entry: black
  args:
  - --preview

flake8:
  name: flake8
  language: python
  entry: flake8

mypy:
  name: mypy
  language: python
  entry: mypy

codespell:
  name: codespell
  language: python
  entry: codespell

format: preserve bracing of script arguments
  src/tclint/commands/checks.py
  src/tclint/format.py
  src/tclint/syntax_tree.py
  tests/test_format.py
Due: black, flake8, mypy, codespell

tests: refactor test_hanging_indent
  tests/test_format.py
Due: black, flake8, codespell

format: allow int space parameter for function space
  src/tclint/format.py
Due: black, flake8, mypy, codespell

format: add emacs formatting in format_command_sub
  src/tclint/format.py
  tests/test_format.py
Due: black, flake8, mypy, codespell

format: more emacs formatting in format_braced_expression
  src/tclint/format.py
  tests/test_format.py
Due: black, flake8, mypy, codespell

data_types
  src/tclint/commands/checks.py
  src/tclint/commands/plugins.py
  src/tclint/commands/schema.py
  src/tclint/plugins/expect.py
Due: black, flake8, mypy, codespell

add int type validation for command specs
  src/tclint/commands/checks.py
  src/tclint/commands/plugins.py
  src/tclint/commands/schema.py
  src/tclint/plugins/expect.py
  tests/commands/test_check_arg_spec.py
  tests/commands/test_schema.py
Due: black, flake8, mypy, codespell

commands: add int type validation for command specs
  src/tclint/commands/checks.py
  src/tclint/commands/schema.py
  tests/commands/test_check_arg_spec.py
  tests/commands/test_schema.py
Due: black, flake8, mypy, codespell

Improve command argument diagnostics and suggestions
  src/tclint/commands/builtin.py
  src/tclint/commands/checks.py
  src/tclint/symbol_table.py
  tests/commands/test_check_arg_spec.py
  tests/test_lint.py
Due: black, flake8, mypy, codespell

fix test
  tests/commands/test_check_arg_spec.py
Due: black, flake8, codespell

commands: add 'getnull' command to built-in commands with validation checks
  src/tclint/commands/builtin.py
  tests/commands/test_builtins.py
Due: black, flake8, mypy, codespell

document configuration comment descriptions
  docs/configuration.md
Due: codespell

fix bare directive with only a description
  src/tclint/comments.py
Due: black, flake8, mypy, codespell

test configuration comment descriptions
  tests/data/special-comments.tcl
Due: codespell

Document and test configuration comment descriptions, and fix a bug that turned up
  docs/configuration.md
  src/tclint/comments.py
  tests/data/special-comments.tcl
Due: black, flake8, mypy, codespell

test unknown-rule warning text
  tests/test_tclint.py
Due: black, flake8, codespell

keep the user-written token in unknown-rule warnings
  src/tclint/comments.py
Due: black, flake8, mypy, codespell

Path conditions:
  black: any of: ^.*\.py$
  flake8: any of: ^.*\.py$
  mypy: any of: ^src/.*\.py$
  codespell: any of: ^.*$
